version: 2
updates:
  # Keep GitHub Actions up to date
  - package-ecosystem: "github-actions"
    directory: "/"
    schedule:
      interval: "daily"
    labels:
      - "ci"
      - "dependencies"
    commit-message:
      prefix: "chore(actions)"

  # Keep Node.js dependencies updated
  - package-ecosystem: "npm"
    directory: "/"
    schedule:
      interval: "monthly"
    labels:
      - "dependencies"
    commit-message:
      prefix: "chore(npm)"
    open-pull-requests-limit: 10
